#root {
  overflow-x: hidden;
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
}

.main {
  min-height: 100vh;
}

.rotate {
  transform: rotate(0deg);
  transition: 0.4s ease;
}
