@import "./BootstrapOverrides.scss";

#root {
  overflow-x: hidden;
  width: 100dvw;
  height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.75rem;
}
h5,
h6 {
  font-size: 0.5rem;
}

.header-h1 {
  line-height: 0.7rem;
}

button {
  display: flex !important;
  align-items: center !important;
}

.main {
  min-height: 100vh;
}

.slash {
  transform: rotate(130deg);
  margin-left: -7.8px;
  margin-right: 7.8px;
  color: $danger;
  font-weight: bold;
}

.form-width {
  width: 100%;
  flex: 1;
}

.footer {
  .footer__text {
    font-size: 0.5rem;
  }
}

details[open] .rotate {
  transform: rotate(-180deg);
  transition: 0.4s ease;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.rotate {
  transform: rotate(0deg);
  transition: 0.4s ease;
}

.font-sm {
  font-size: 0.75rem !important;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@import "bootstrap";
