#root {
  overflow-x: hidden;
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.75rem;
}
h5,
h6 {
  font-size: 0.5rem;
}

.main {
  min-height: 100vh;
}

.rotate {
  transform: rotate(0deg);
  transition: 0.4s ease;
}
