@import "../../styles/BootstrapOverrides.scss";

.bottomModal__menu {
  background-color: $dark;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  transition: 450ms;
  z-index: 99991;
  border-top: 1px solid $white;
  border-radius: 16px 16px 0 0;
}

.bottomModal__menu.portal-active.bottomModal__menu-left {
  left: 0;
  transition: 450ms;
}

.bottomModal__menu.portal-active.bottomModal__menu-right {
  right: 0;
  transition: 450ms;
}

.bottomModal__menu-bottom {
  bottom: -100%;
}

.bottomModal__dragHandle {
  width: 100px;
  height: 4px;
  background-color: $white;
  border-radius: 15px;
}

.bottomModal__close-btn {
  top: 0;
  right: 0;
}
